.main {
    flex: 1 0 auto;
}
.container {
    max-width: 1395px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container-small {
    max-width: 925px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.desktop {
    @media (max-width: 1024px) {
        display: none !important;
    }
}
.mobile {
    @media (min-width: 1025px) {
        display: none !important;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.active {
        display: block;
    }
}
.form-thanks {
    display: none;
    font-family: $montserrat_semibold;
    font-size: 18px;
    text-align: center;
}
.object-fit-cover {
    object-fit: cover;
}

.main-section {
    margin-bottom: 85px;
    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
    &.turquoise-section {
        padding: 85px 0 55px;
        background-color: $turquoise_rgba_7;
        @media (max-width: 1024px) {
            padding: 60px 0 30px;
        }
        @media (max-width: 768px) {
            padding: 40px 0 10px;
        }
        @media (max-width: 576px) {
            padding: 40px 0 25px;
        }
    }
}
.main-section-title {
    font-family: $montserrat_bold;
    @include adaptiv-font(40, 27);
    line-height: 1;
}
.main-section-top-subtitle {
    margin-bottom: 35px;
    text-align: left;
}
.page-section {
    margin-bottom: 55px;
    @media (max-width: 1024px) {
        margin-bottom: 35px;
    }
    @media (max-width: 768px) {
        margin-bottom: 25px;
    }
    &.turquoise-section {
        padding: 60px 0;
        background-color: $turquoise_rgba_10;
        @media (max-width: 1024px) {
            padding: 50px 0;
        }
        @media (max-width: 768px) {
            padding: 40px 0;
        }
    }
    &:last-child {
        margin-bottom: 85px;
        @media (max-width: 1024px) {
            margin-bottom: 60px;
        }
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
}
.page-section-title {
    display: inline-block;
    margin-bottom: 25px;
    font-family: $montserrat_semibold;
    @include adaptiv-font(30, 22);
    @media (max-width: 1024px) {
        margin-bottom: 20px;
    }
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
}
.page-section-title-bold {
    display: inline-block;
    margin-bottom: 25px;
    font-family: $montserrat_bold;
    @include adaptiv-font(30, 22);
    @media (max-width: 1024px) {
        margin-bottom: 20px;
    }
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
}
.page-section-top-title {
    margin-bottom: 30px;
    font-family: $montserrat_bold;
    @include adaptiv-font(40, 27);
    text-align: center;
    line-height: 1;
    @media (max-width: 768px) {
        margin-bottom: 20px;
        text-align: left;
    }
}
.aside-title {
    display: inline-block;
    margin-bottom: 25px;
    font-family: $montserrat_bold;
    @include adaptiv-font(24, 18);
    @media (max-width: 1024px) {
        margin-bottom: 20px;
    }
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
}
.page-section-top-subtitle {
    text-align: center;
    @media (max-width: 768px) {
        text-align: left;
    }
}
// form start
.input-wrap {
    position: relative;
    margin-bottom: 25px;
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
    .input-form {
        padding: 10px 15px;
        width: 100%;
        height: 40px;
        line-height: 1;
        border-radius: 6px;
        background-color: $white;
        &::placeholder {
            font-family: $montserrat_medium;
            color: $ligt_grey;
        }
    }
    label.error {
        position: absolute;
        left: 0;
        top: calc(100% + 1px);
        font-size: 12px;
        line-height: 1;
        font-family: $montserrat_regular;
        font-weight: normal;
        margin-bottom: 0;
        color: $red;
    }
}
// form end
// btn start

.search-btn {
    display: flex;
    flex: 0 0 auto;
    padding: 9px 63px;
    font-family: $montserrat_medium;
    color: $white;
    background-color: $turquoise;
    border-radius: 6px;
    transition: .25s linear;
    &:hover {
        background-color: $dark_turquoise;
    }
}

.popup-btn-wrap {
    margin: -15px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn-light-green-small,
    .btn-green-small {
        margin: 15px 15px 0;
    }
}
.btn-wrap {
    text-align: center;
}
.btn-transparent-arrow {
    display: inline-block;
    padding: 0 45px 0 20px;
    font-family: $montserrat_medium;
    color: $turquoise;
    transition: .25s linear;
    &:hover .btn-transparent-arrow-text::after {
        left: calc(100% + 15px);
    }
    .btn-transparent-arrow-text {
        position: relative;
        &::after {
            content: '';
            width: 12px;
            height: 10px;
            position: absolute;
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
            background: url(/img/right-arrow.svg) center center/cover no-repeat;
            transition: .25s linear;
        }
    }
}
.btn-green-small {
    display: flex;
    justify-content: center;
    padding: 9px 20px;
    font-family: $montserrat_medium;
    color: $white;
    background-color: $turquoise;
    border-radius: 6px;
    transition: .25s linear;
    &:hover {
        background-color: $dark_turquoise;
        color: $white;
    }
}
.btn-light-green-small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-family: $montserrat_medium;
    color: $turquoise;
    background-color: $turquoise_rgba_one;
    border-radius: 6px;
    transition: .25s linear;
    &:hover {
        background-color: $turquoise_rgba_25;
    }
    .btn-light-green-small-icon {
        margin-right: 10px;
        @media (max-width: 576px) {
            margin-right: 5px;
        }
        svg {
            display: block;
        }
    }
}
.btn-green {
    display: inline-block;
    padding: 9px 35px;
    font-family: $montserrat_medium;
    color: $white;
    background-color: $turquoise;
    border-radius: 6px;
    transition: .25s linear;
    &:hover {
        background-color: $dark_turquoise;
    }
}
.btn-arrow {
    display: inline-block;
    padding: 9px 45px 9px 20px;
    font-family: $montserrat_medium;
    color: $turquoise;
    background-color: $turquoise_rgba_one;
    border-radius: 6px;
    transition: .25s linear;
    &:hover {
        background-color: $turquoise_rgba_25;
    }
    &:hover .btn-arrow-text::after {
        left: calc(100% + 15px);
    }
    .btn-arrow-text {
        position: relative;
        &::after {
            content: '';
            width: 12px;
            height: 10px;
            position: absolute;
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
            background: url(/img/right-arrow.svg) center center/cover no-repeat;
            transition: .25s linear;
        }
    }
}


.more-link-section {
    position: relative;
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: $montserrat_medium;
    color: $main_color;
    transition: .25s linear;
    cursor: pointer;
    &:hover {
        color: $turquoise;
    }
    span {
        padding: 0 30px;
        background-color: $white;
        @media (max-width: 576px) {
            padding: 0 15px;
        }
    }
    // &:hover::before {
    //     width: 50%;
    // }
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 0;
    //     height: 2px;
    //     background-color: $turquoise;
    //     left: 0;
    //     transition: .25s linear;
    //     z-index: -1;
    // }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: $turquoise_rgba_20;
        right: 0;
        transition: .25s linear;
        z-index: -2;
    }
}
// btn end

// description start
.text {
    line-height: 26px;
}
.text-hide {
    display: none !important;
}
.text-center {
    text-align: center;
}
.description {
    line-height: 26px;
    h1 {
        margin: 0 0 25px 0;
        font-family: $montserrat_bold;
        @include adaptiv-font(40, 27);
        line-height: 1.4;
        @media (max-width: 576px) {
            margin: 0 0 10px 0;
        }
    }
    h2 {
        margin: 0 0 25px 0;
        font-family: $montserrat_bold;
        @include adaptiv-font(30, 22);
        line-height: 1.4;
        @media (max-width: 576px) {
            margin: 0 0 10px 0;
        }
    }
    h3 {
        margin: 0 0 25px 0;
        font-family: $montserrat_bold;
        @include adaptiv-font(28, 20);
        line-height: 1.4;
        @media (max-width: 576px) {
            margin: 0 0 10px 0;
        }
    }
    h4 {
        margin: 0 0 25px 0;
        font-family: $montserrat_bold;
        @include adaptiv-font(24, 18);
        line-height: 1.4;
        @media (max-width: 576px) {
            margin: 0 0 10px 0;
        }
    }
    table {
        width: 100%;
    }
    ul {
        margin-bottom: 30px;
        padding-left: 25px;
        list-style: none;
        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
        & > li {
            position: relative;
            & + li {
                margin-top: 10px;
                @media (max-width: 576px) {
                    margin-top: 5px;
                }
            }
            img {
                margin-top: 30px;
                margin-bottom: 30px;
                @media (max-width: 576px) {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            &::before {
                content: '';
                position: absolute;
                left: -25px;
                top: 9px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $turquoise;
            }
        }
    }
    ol {
        margin-bottom: 30px;
        padding-left: 25px;
        list-style: none;
        counter-reset: num;
        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
        & > li {
            position: relative;
            &::before {
                content: counter(num) '. ';
                position: absolute;
                left: -25px;
                top: 0;
                bottom: 0;
                counter-increment: num;
                font-family: $montserrat_medium;
                color: $turquoise;
                font-size: 18px;
            }
            & + li {
                margin-top: 10px;
                @media (max-width: 576px) {
                    margin-top: 5px;
                }
            }
            img {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    p {
        margin-bottom: 30px;
        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
        img {
            display: inline-block;
            max-width: 100%;
            height: auto !important;
            &.margin-left-none {
                margin: 0 30px 30px 0;
                @media (max-width: 576px) {
                    float: none!important;
                    width: auto!important;
                    height: auto!important;
                }
            }
            &.margin-right-none {
                margin: 0  0 30px 30px;
                @media (max-width: 576px) {
                    float: none!important;
                    width: auto!important;
                    height: auto!important;
                }
            }
        }
        a {
            color: $main_color;
            text-decoration: underline;
            transition: 0.25s linear;
            &:hover {
                color: $turquoise;
            }
        }
    }
}
// description end

// adaptive iframe
.iframe-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
}
// adaptive video
.video-wrap {
    margin-bottom: 20px;
}
video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

//  breadcrumbs start
.top_navigate {
    margin: 0 0 55px;
    @media (max-width: 768px) {
        margin: 0 0 25px;
    }
}
.breadcrumbs {
  margin-bottom: 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: transparent;
  text-align: center;
}
.crumb-li {
  margin-left: -10px;
  display: inline-block;
  text-align: left;
  & + .crumb-li {
    margin-left: 0;
    padding-left: 5px;
    .crumb {
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: -6px;
        top: 5px;
        height: 5.65px;
        width: 5.65px;
        border-right: 1px solid $ligt_grey;
        border-bottom: 1px solid $ligt_grey;
        transform: rotate(-45deg);
      }
    }
  }
}
.crumb  {
  color: $main_color;
  position: relative;
  display: block;
  padding: 0 10px;
  font-family: $montserrat_regular;
  font-size: 14px;
  transition: .25s linear;
  &:hover,
  &:focus,
  &.js-lastcrumb {
      color: $ligt_grey;
  }
  &.js-lastcrumb {
      cursor: default;
      pointer-events: none;
      &::after {
          content: none;
      }
  }
}

 //  breadcrumbs end

 // Pagination start
  .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      .page-item {
          margin: 0 3px;
          &:first-child {
              margin-right: 15px;
              .page-link {
                  font-size: 30px;
                  color: $ligrey;
                  transition: 0.25s linear;
                  transform: translateY(-8%);
                  &:hover {
                      background-color: transparent;
                      color: $dark_turquoise;
                  }
              }
          }
          &:last-child {
              margin-left: 15px;
              .page-link {
                  font-size: 30px;
                  color: $ligrey;
                  transition: 0.25s linear;
                  transform: translateY(-8%);
                  &:hover {
                      background-color: transparent;
                      color: $dark_turquoise;
                  }
              }
          }
          &.active .page-link {
              color: $dark_turquoise;
              background-color: $turquoise_rgba_15;
          }
          &.disabled .page-link {
              color: $grey_disabled;
              background-color: transparent;
              &:hover {
                  color: $grey_disabled;
              }
          }
      }
      .page-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          font-family: $montserrat_medium;
          font-size: 18px;
          line-height: 1;
          color: $lgrey;
          transition: .25s linear;
          &:hover {
              color: $dark_turquoise;
              background-color: $turquoise_rgba_15;
          }
      }
  }
  // Pagination end

// magnific popup-gallery start
.popup-gallery-wrap {
    margin-bottom: 85px;
    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
}
.popup-gallery {
    margin: -10px 0 0 -10px;
    display: flex;
    flex-wrap: wrap;
    .gallery-item {
        width: 25%;
        padding: 10px 0 0 10px;
        @media (max-width: 1024px) {
            width: 33.33%;
        }
        @media (max-width: 768px) {
            width: 50%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}
// magnific popup-gallery end

// custom scroll bar start
// scroll bar
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: $ggrey_rgba_45;
    width: 1px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $turquoise;
    width: 3px;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: $turquoise;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: $turquoise;
}
// custom scroll bar end

// tabs start
.tabs-btn-wrap {
    position: relative;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 576px) {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        right: 0;
        padding: 8px 10px;
        background-color: $white;
        border: 1px solid $grey;
        border-radius: 6px;
        z-index: 5;
    }
    .tab-link {
        margin: 0 20px 20px 0;
        padding: 9px 20px;
        font-family: $montserrat_medium;
        font-size: 18px;
        color: $main_color;
        background-color: $white;
        border: 1px solid $grey;
        cursor: pointer;
        transition: 0.25s linear;
        &:hover,
        &.active {
            color: $dark_turquoise;
            background-color: $turquoise_rgba_10;
            border: 1px solid $turquoise_rgba_10;
        }
    }
    .tab-mobile-link {
        padding: 5px 0;
        cursor: pointer;
        & + .tab-mobile-link {
            margin-top: 5px;
        }
        &.active {
            color: $turquoise;
        }
    }
}
// tabs end
.active-tab-mobile {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    padding: 8px 30px 8px 15px;
    text-align: left;
    border: 1px solid $grey;
    border-radius: 6px;
    &.active .active-tab-mobile-text::after {
        transform: translateY(-25%) rotate(-45deg);
    }
    .active-tab-mobile-text {

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 8px;
            height: 8px;
            border-top: 2px solid $turquoise;
            border-right: 2px solid $turquoise;
            right: 15px;
            top: 50%;
            transition: 0.25s linear;
            transform: translateY(-50%) rotate(135deg);
        }
    }
    @media (max-width: 576px) {
        display: block;
    }
}

.about-us-img-wrap {
    margin: 35px 0 10px;
    @media (max-width: 768px) {
        margin: 20px -15px 10px;
    }
}
// advantages start
.advantages-block {
    position: relative;
    padding: 40px 15px;
    background-color: #69d1d2;
    @media (max-width: 1024px) {
        padding: 30px 15px;
    }
    @media (max-width: 768px) {
        margin: 0 -15px;
    }
}
.advantages-block-svg-wrap {
    max-width: 21%;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 1024px) {
        max-width: 45%;
    }
    @media (max-width: 768px) {
        max-width: 55%;
    }
    @media (max-width: 576px) {
        max-width: 85%;
    }
}
.advantages-wrap {
    position: relative;
    margin: -25px 0 0 -25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .advantages-item {
        padding: 25px 0 0 25px;
        width: 25%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            width: 50%;
        }
        @media (max-width: 576px) {
            width: 100%;
        }
        .advantages-item-name {
            margin-bottom: 30px;
            font-family: $montserrat_semibold;
            @include adaptiv-font(45, 24);
            line-height: 1;
            text-align: center;
            color: $white;
            @media (max-width: 1024px) {
                margin-bottom: 15px;
            }
        }
        .advantages-item-name-desc {
            margin-bottom: 15px;
            font-family: $montserrat_semibold;
            font-size: 18px;
            line-height: 1;
            text-align: center;
            color: $white;
            @media (max-width: 1024px) {
                margin-bottom: 10px;
            }
        }
        .advantages-item-description {
            text-align: center;
            color: $white;
        }
    }
}
// advantages end


// selecric start
.selectric-wrapper {
    &.selectric-open .selectric .button::after {
        transform: rotate(135deg);
        top: 10px;
    }
    &.selectric-hover .selectric,
    &.selectric-open .selectric {
        border: none;
    }
    .selectric {
        width: 100%;
        border: none;
        border-radius: 6px;
        box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
        background-color: $white;
        .label {
            margin: 0 45px 0 15px;
            padding: 0;
            height: 40px;
            line-height: 40px;
            font-family: $montserrat_medium;
            font-size: 16px;
            color: $ligt_grey;
            text-align: left;
        }
        .button {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: transparent;

            &::after {
                left: 0%;
                top: -10%;
                display: block;
                width: 10px;
                height: 10px;
                border: none;
                border-top-color: none;
                border-left: 1px solid $turquoise;
                border-bottom: 1px solid $turquoise;
                transform-origin: center;
                transform: rotate(-45deg);
                transition: .25s linear;
            }
        }
    }
    .selectric-items {
        left: auto;
        right: 0;
        border: none;
        border-radius: 6px;
        box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
        li {
            padding: 10px 15px;
            font-size: 14px;
            color: $ligt_grey;
            text-align: left;
            transition: .2s linear;
            background-color: $white;
            &:not(:first-child) {
                border-top: 1px solid $li_grey;
            }
            &:first-child {
                border-radius: 6px 6px 0 0;
            }
            &:last-child {
                border-radius: 0 0 6px 6px;
            }
            &.selected {
                background-color: $turquoise_rgba_one;
            }
            &:hover {
                color: $turquoise;
                background-color: $turquoise_rgba_one;
            }
        }
    }
}


.header-log {
    margin-bottom: 10px;
    .header-log-link {
        font-family: $montserrat_medium;
        font-size: 16px;
        color: $turquoise;
        transition: .25s linear;
        &:hover {
            color: $dark_turquoise;
        }
        .header-log-icon {
            margin-right: 10px;
        }
    }
}
