.header {
    position: relative;
    box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
    .header-top {
        padding: 25px 0;
        border-bottom: 1px solid $grey;
        @media (max-width: 1024px) {
            padding: 8px 0;
            border-bottom: none;
            box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
        }
    }
    .header-top-wrap {
        display: flex;
        align-items: center;
    }
    .header-logo {
        max-width: 233px;
        width: 100%;
        svg {
            display: block;
        }
        @media (max-width: 1024px) {
            max-width: 119px;
        }
    }
    .header-top-right {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .header-btns-wrap {
        margin-left: 60px;
        @media (max-width: 1280px) {
            margin-left: 50px;
        }
        @media (max-width: 1200px) {
            margin-left: 60px;
        }
    }
}

.header-address-wrap {
    @media (max-width: 1200px) {
        display: none;
    }
    @media (max-width: 1024px) {
        display: block;
        margin-bottom: 25px;
    }
    &.desktop {
        max-width: 250px;
    }
    .header-address-item {
        display: flex;
        align-items: flex-start;
        & + .header-address-item {
            margin-top: 8px;
        }
    }
    .header-address-icon {
        padding-top: 2px;
        display: flex;
        width: 15px;
        margin-right: 12px;
        svg {
            margin: auto auto auto 0;
        }
    }
    .header-address-info {
        font-family: $montserrat_medium;
    }
}

.header-contact-block {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1280px) {
        margin-left: 50px;
    }
    @media (max-width: 1200px) {
        margin-left: 60px;
    }
    .header-contact-link {
        margin-bottom: 5px;
        font-family: $montserrat_medium;
        font-size: 22px;
        color: $main_color;
        transition: .25s linear;
        &:hover {
            color: $turquoise;
        }
    }
}

.header-callback-popup {
    font-family: $montserrat_medium;
    color: $turquoise;
    transition: .25s linear;
    &:hover {
        color: $dark_turquoise;
    }
}
.header-search-btn {
    margin-left: 60px;
    display: flex;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    background-color: $grey;
    border-radius: 50%;
    @media (max-width: 1280px) {
        margin-left: 50px;
    }
    @media (max-width: 1200px) {
        margin-left: 60px;
    }
    svg {
        margin: auto;
    }
}

.search-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $white;
    box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
    .search-dropdown-wrap {
        padding: 35px 0 80px;
    }
}

.search-form {
    display: flex;
    align-items: center;
}
.search-input-holder {
    margin-right: 50px;
    position: relative;
    max-width: 1010px;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: url(/img/search.svg) center center/cover no-repeat;
    }
}
.search-input {
    padding: 10px 15px 10px 45px;
    height: 40px;
    line-height: 1;
    width: 100%;
    border: 1px solid $l_grey;
    border-radius: 6px;
    &::placeholder {
        font-family: $montserrat_medium;
        color: $ligt_grey;
    }
}

.lang-list {
    margin-left: 30px;
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
        margin-left: 0;
    }
    .lang-item {
        & + .lang-item {
            margin-left: 10px;
        }
    }
    .lang-link {
        font-family: $montserrat_medium;
        text-transform: uppercase;
        color: $main_color;
        transition: .25s linear;
        &.active,
        &:hover {
            color: $turquoise;
        }
    }
}

.header-menu {
    @media (max-width: 1024px) {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 100%;
        background-color: rgba(11, 11, 11, 0.8);
        height: calc(100vh - 50px);
        z-index: 99;
        transition: .2s linear;
        .container {
            padding: 0;
        }
        .header-menu-wrap {
            @media (max-width: 1024px) {
                border-top: 1px solid $grey;
                position: relative;
                width: 50%;
                padding: 0 15px;
                margin-left: auto;
                background-color: $white;
                height: calc(100vh - 50px);
                overflow-y: auto;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
    &.open {
        left: 0;
        box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
    }
    .header-menu-list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1024px) {
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            padding: 20px 0;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .header-menu-item {
        padding: 8px 10px;
        @media (max-width: 1024px) {
            margin-bottom: 3px;
            padding: 5px 0;
        }
        &:first-child {
            padding: 8px 10px 8px 0;
            @media (max-width: 1024px) {
                padding: 5px 0;
            }
        }
        &:last-child {
            padding: 8px 0 8px 10px;
            @media (max-width: 1024px) {
                margin-bottom: 0;
                padding: 5px 0;
            }
        }
    }
    .header-menu-link {
        font-family: $montserrat_medium;
        color: $main_color;
        transition: .25s linear;
        &.active,
        &:hover {
            color: $turquoise;
        }
    }
}

.has-submenu {
    &:hover .header-submenu-wrap {
        display: block;
    }
    &:hover .has-submenu-text {
        color: $turquoise;
    }
    &:hover .has-submenu-icon svg {
        fill: $turquoise;
    }
    .has-submenu-text {
        margin-right: 5px;
    }
    .has-submenu-icon svg {
        fill: $main_color;
        transition: .25s linear;
    }
    .header-submenu-wrap {
        display: none;
        padding-top: 10px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $white transparent;
        }
    }
    .header-submenu {
        padding: 15px;
        background-color: $white;
        box-shadow: 0 3px 15px rgba(145, 145, 145, 0.16);
    }
    .header-menu-item {
        padding: 0;
        color: $ggrey;
        font-size: 15px;
        text-transform: uppercase;
        &:first-child {
            padding: 0;
        }
        &:last-child {
            padding: 0;
        }
        & + .header-menu-item {
            margin-top: 15px;
        }
    }
}

// burger start
.burger-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: all .20s ease-in;
}
.menu__icon {
    width: 18px;
    height: 1px;
    background: $main_color;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    &::before,
    &::after {
        width: 21px;
        height: 1px;
        background: $main_color;
        transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
}
.menu__icon::before {
  content: '';
  position: absolute;
  transform: translate(-3px, -6px);
}
.menu__icon::after {
  content: '';
  position: absolute;
  transform: translate(-3px, 6px);
}
.menu__icon.open {
  background: transparent;
}
.menu__icon.open::before {
  transform: rotate(-45deg);
}
.menu__icon.open::after {
  transform: rotate(45deg);
}
.menu__icon.open{
  transform: rotate(180deg);
}

.mobile-menu-top {
    padding: 25px 0;
    .btn-green-small {
        margin: 0 0 25px 0;
    }
    .search-input-holder {
        margin: 0 0 25px 0;
        &::before {
            left: 10px;
        }
    }
    .search-input {
        padding: 10px 10px 10px 30px;
    }
    .header-contact-block {
        margin-left: 0;
        .header-contact-link {
            line-height: 1;
        }
    }
}
