.main-section-title-wrap {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.services-top-text {
    margin-bottom: 35px;
}
.services-top-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -25px 0 0 -25px;
    .services-top-holder {
        width: 20%;
        padding: 25px 0 0 25px;
    }
}
.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover .services-item-svg {
        background-color: $turquoise_rgba_25;
    }
    .services-item-svg {
        margin-bottom: 12px;
        display: flex;
        width: 85px;
        height: 85px;
        background-color: $lig_grey;
        border-radius: 50%;
        transition: .25s linear;
        svg {
            margin: auto;
        }
    }
    .services-item-name {
        font-family: $montserrat_medium;
        text-align: center;
        color: $main_color;
    }
}


.checkup-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .checkup-column {
        width: calc(50% - 5px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-section-title {
        margin-bottom: 30px;
    }
    .checkup-item {
        padding: 35px 14%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & + .checkup-item {
            margin-top: 10px;
        }
        &.small {
            flex: 1 0 auto;
            background: url(/img/dark-bg.png) center center/cover no-repeat;
        }
        &.big {
            flex: 2 0 auto;
            background: url(/img/light-bg.png) center center/cover no-repeat;
            .description {
                margin-bottom: 20px;
            }
            .btn-green {
                margin-left: auto;
            }
        }
        .appointment_form {
            max-width: 400px;
            // width: 100%;
            display: flex;
            flex-direction: column;
            .input-wrap {
            }
        }
    }
}

.specialists-wrap {
    margin: -50px 0 35px -50px;
    display: flex;
    flex-wrap: wrap;
    .specialists-holder {
        width: 25%;
        padding: 50px 0 0 50px;
    }
    .specialists-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $main_color;
        transition: .25s linear;
        &:hover .specialists-img {
            transform: scale(1.2) translateZ(0);
        }
    }
    .specialists-img-wrap {
        margin-bottom: 20px;
        overflow: hidden;
    }
    .specialists-img {
        image-rendering: optimizeQuality;
        transition: .25s linear;
    }
    .specialists-name {
        display: inline-block;
        margin-bottom: 13px;
        font-family: $montserrat_semibold;
        font-size: 18px;
    }
    .specialists-position,
    .specialists-desc {
        display: block;
        margin-bottom: 5px;
    }
    .specialists-experience {
        margin-top: auto;
        padding-top: 15px;
        border-top: 1px solid $li_grey;
    }
    .specialists-experience-item {
        display: block;
        font-family: $montserrat_semibold;
        & + .specialists-experience-item {
            margin-top: 5px;
        }
    }
}


// special-actions section start

.special-actions-wrap {
    margin: -50px 0 35px -50px;
    display: flex;
    flex-wrap: wrap;
    .special-action-holder {
        width: 25%;
        padding: 50px 0 0 50px;
    }
    .special-action-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $main_color;
        transition: 0.25s linear;
        &.stock {
            .special-action-period {
                color: $red;
            }
            .special-action-info::after {
                border-color: transparent $red transparent transparent;
            }
        }
        &.package-offer {
            .special-action-period {
                color: $green;
            }
            .special-action-info::after {
               border-color: transparent $green transparent transparent;
           }
        }
        &:hover .special-action-img {
            transform: scale(1.2) translateZ(0);
        }
    }
    .special-action-title {
        margin-bottom: 20px;
        font-family: $montserrat_bold;
        @include adaptiv-font(40, 22);
        color: $main_color;
    }
    .special-action-link {
        font-family: $montserrat_semibold;
        font-size: 18px;
        color: $main_color;
        transition: 0.25s linear;
        &:hover {
            color: $turquoise;
        }
        &:hover .special-action-link-text::after {
            left: calc(100% + 15px);
            background: url(/img/right-arrow.svg) center center/cover no-repeat;
        }
        .special-action-link-text {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 10px;
                left: calc(100% + 10px);
                bottom: 5px;
                background: url(/img/right-arrow-black.svg) center center/cover no-repeat;
                transition: 0.25s linear;
            }
        }
        & + .special-action-link {
            margin-top: 15px;
        }
    }
    .special-action-info {
        padding-right: 25px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 17px 17px 0;
        }
        .special-action-cat {
            margin-right: 10px;
            font-family: $montserrat_semibold;
            font-size: 12px;
            text-transform: uppercase;
        }
        .special-action-period {
            font-family: $montserrat_medium;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    .special-action-img-wrap {
        margin-bottom: 10px;
        overflow: hidden;
    }
    .special-action-img {
        image-rendering: optimizeQuality;
        transition: .25s linear;
    }
    .special-action-name {
        font-family: $montserrat_semibold;
        font-size: 18px;
    }
}

// special-actions section end
