// main slider start
.main-slider {
    @media (max-width: 1024px) {
        margin: 0 -15px;
    }
    .slide-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .slide-item-img-wrap {
        position: relative;
        width: 60%;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    .slide-item-img {
        height: 512px;
        @media (max-width: 1024px) {
            height: auto;
        }
    }
    .content-slide {
        padding: 30px 3.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: calc(40% - 10px);
        z-index: 1;
        background: url(/img/light-bg.png) center center/cover no-repeat;
        @media (max-width: 1024px) {
            width: 100%;
            padding: 30px 15px 70px;
        }
    }
    .content-slide-wrap {
        position: relative;
    }
    .content-slide-svg-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20% 10%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @media (max-width: 1024px) {
            padding: 30px 15px 70px;
        }
    }
    .slide-item-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .slide-title {
        margin-bottom: 30px;
        font-family: $montserrat_bold;
        color: $page_title_color;
        @include adaptiv-font(45, 30);
        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }
    .slide-text {
        color: $main_color;
        margin-bottom: 30px;
        @media (max-width: 1024px) {
            margin-bottom: 15px;
        }
    }
    .btn-arrow {
        display: inline-block;
        padding: 9px 45px 9px 20px;
        font-family: $montserrat_medium;
        color: $white;
        background-color: $turquoise;
        border-radius: 6px;
        transition: .25s linear;
        &:hover {
            background-color: $dark_turquoise;
        }
        &:hover .btn-arrow-text::after {
            left: calc(100% + 15px);
        }
        .btn-arrow-text {
            position: relative;
            &::after {
                content: '';
                width: 12px;
                height: 10px;
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                transform: translateY(-50%);
                background: url(/img/right-arrow-white.svg) center center/cover no-repeat;
                transition: .25s linear;
            }
        }
    }
    .slick-dots {
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        left: calc(63.5% + 10px);
        bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
            left: 15px;
            bottom: 30px;
        }
        li {
            width: 11px;
            height: 11px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            margin: 0 7px;
            padding: 0;
            button {
                font-size: 0;
                line-height: 0;
                display: block;
                padding: 7px;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 11px;
                    height: 11px;
                    background: transparent;
                    border: 1px solid $turquoise;
                    border-radius: 50%;
                    color: transparent;
                    display: block;
                    transition: .25s linear;
                }
            }
            &:hover,
            &.slick-active {
                button::before {
                    background: $turquoise;
                }
            }
        }
    }
}
// main slider end

// reviews-slider start
// reviews-slider start
.reviews-slider {
    margin-bottom: 35px;
    .reviews-name-wrap {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .reviews-name {
        margin-right: 30px;
        font-family: $montserrat_semibold;
        font-size: 18px;
    }
    .reviews-date {

    }
}
// reviews-slider end
// counter-slider start
.counter-slider-wrap {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 576px) {
        flex-wrap: wrap;
    }
    .btn-arrow-transparent {
        @media (max-width: 576px) {
            margin: 10px auto 0;
            order: 1;
        }
    }
    .counter-slider-holder {
        width: calc(100% - 150px);
        @media (max-width: 576px) {
            width: 100%;
        }
    }
}
.counter-slider {
    .counter-slider-item {
        text-align: right;
    }
    .count-slide {
        font-family: $montserrat_semibold;
        @include adaptiv-font(40, 30);
        color: $turquoise;
        line-height: 1;
    }
    .all-count-slide {
        color: $grey;
    }
    .slick-dots {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 90px;
        font-size: 0;
        list-style: none;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        z-index: 99;
        li {
            width: auto;
            height: auto;
            & + li {
                margin-left: 18px;
            }
            &.slick-active button::before {
                background: $turquoise;
            }
            &:hover button::before {
                background: $turquoise;
            }
            button {
                position: relative;
                width: 30px;
                height: 30px;
                padding: 0;
                &::before {
                    z-index: 2;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 5px;
                    background: $grey;
                    transition: .25s linear;
                }
            }
        }
    }
}
// counter-slider end
// reviews-slider end

// special-actions-wrap slider start
.special-actions-wrap.slider {
    .slick-dots {
        position: absolute;
        left: 0;
        width: 100%;
        top: calc(100% + 15px);
        font-size: 0;
        list-style: none;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 99;
        li {
            width: auto;
            height: auto;
            & + li {
                margin-left: 18px;
            }
            &.slick-active button::before {
                background: $turquoise;
            }
            &:hover button::before {
                background: $turquoise;
            }
            button {
                position: relative;
                width: 30px;
                height: 30px;
                padding: 0;
                &::before {
                    z-index: 2;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 5px;
                    background: $white;
                    transition: .25s linear;
                }
            }
        }
    }
}
// special-actions-wrap slider end

// mobile-slider-js start
.specialists-wrap.mobile-slider-js {
    .mobile-slider-arrow {
        top: 30%;
    }
}

.diploms-gallery.mobile-diplom-slider-js {
    .mobile-slider-arrow {
        top: 40%;
    }
    .slick-slide {
        margin: 0 10px;
    }
    .slick-list {
        margin: 0 -10px;
    }
}

.mobile-diplom-slider-js,
.mobile-slider-js {
    .mobile-slider-arrow {
        position: absolute;
        top: 35%;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.55);
        transition: .25s linear;
        cursor: pointer;
        &:hover {
            background-color: $turquoise_rgba_25;
        }
        &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 10px;
            background: url(/img/right-arrow.svg) center center/cover no-repeat;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &.prev {
            left: 0;
            z-index: 1;
            transform: rotate(180deg);
        }
        &.next {
            right: 0;
        }
    }
    &.special-actions-wrap {
        @media (max-width: 400px) {
            margin: 0;
        }
        .special-action-holder {
            @media (max-width: 400px) {
                padding: 0;
            }
        }
    }
    &.specialists-wrap {
        @media (max-width: 400px) {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .specialists-holder {
            @media (max-width: 400px) {
                padding: 0;
            }
        }
    }
}
// mobile-slider-js end
