// Body
$body-bg: #fff;

// Typography
$montserrat_regular: 'montserratregular';
$montserrat_medium: 'montserratmedium';
$montserrat_semibold: 'montserratsemibold';
$montserrat_bold: 'montserratbold';

// Colors
$main_color: #464646;
$turquoise: #37b6b7;
$placeholder: #919191;
$social-icon: #919191;
$turquoise_rgba_one: rgba(55, 182, 183, 0.1);
$turquoise_rgba_25: rgba(55, 182, 183, 0.25);
$dark_turquoise: #3b9191;
$white: #fff;
$grey: #f0f0f0;
$l_grey: #e3e3e3;
$li_grey: #d5d5d5;
$lig_grey: #f0f9f9;
$ggrey: #696969;
$green: #0f9d4a;
$red: #d92020;


// mixin for adaptive text
$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
