// Body
$body-bg: #fff;

// Typography
$montserrat_regular: 'montserratregular';
$montserrat_medium: 'montserratmedium';
$montserrat_semibold: 'montserratsemibold';
$montserrat_bold: 'montserratbold';

// Colors
$main_color: #464646;
$placeholder: #919191;
$turquoise: #37b6b7;
$turquoise_rgba_one: rgba(55, 182, 183, 0.1);
$turquoise_rgba_25: rgba(55, 182, 183, 0.25);
$dark_turquoise: #3b9191;
$white: #fff;
$grey: #f0f0f0;
$l_grey: #e3e3e3;
$ggrey: #696969;
