// Body
$body-bg: #fff;

// Typography
// $montserrat_regular: 'montserratregular';
// $montserrat_medium: 'montserratmedium';
// $montserrat_semibold: 'montserratsemibold';
// $montserrat_bold: 'montserratbold';

$montserrat_regular: 'robotoregular';
$montserrat_medium: 'robotomedium';
$montserrat_semibold: 'robotobold';
$montserrat_bold: 'robotobold';

// Colors
$main_color: #464646;
$turquoise: #37b6b7;
$page_title_color: #1b7f80;
$dark_turquoise: #3b9191;
$turquoise_rgba_one: rgba(55, 182, 183, 0.1);
$turquoise_rgba_25: rgba(55, 182, 183, 0.25);
$turquoise_rgba_15: rgba(55, 182, 183, 0.15);
$turquoise_rgba_7: rgba(59, 145, 145, 0.07);
$turquoise_rgba_10: rgba(59, 145, 145, 0.1);
$turquoise_rgba_20: rgba(207, 235, 219, 0.2);
$ggrey_rgba_45: rgba(105, 105, 105, 0.45);
$white: #fff;
$grey: #f0f0f0;
$lgrey: #707070;
$l_grey: #e3e3e3;
$ligrey: #7e7e7e;
$li_grey: #d5d5d5;
$liggrey: #c3c3c3;
$lig_grey: #f0f9f9;
$lighgrey: #e2e2e2;
$ligh_grey: #bebebe;
$ggrey: #696969;
$ligt_grey: #919191;
$green: #0f9d4a;
$red: #d92020;
$grey_disabled: #efefef;


// mixin for adaptive text
$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
